.tabs-desktop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.tab-desktop {
  width: 241px;
  height: 40px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  user-select: none;
  color: white;
  border: 1px solid gray;
  font-family: "league spartan";
  font-weight: 700;
}

.tab-number {
  padding: 7px 20px;
  color: rgb(169, 169, 169);
}

.not-selected:hover {
  opacity: 0.4;
  background-color: #D8D8D8 !important;
}


@media (min-width: 768px) {
  .tabs-desktop-container {
    display: flex;
  }
}